/* reset CSS start
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset CSS ends*/

body,html {
    margin: 0;
    padding:0;
}

header {
    background: lightgray;
    box-sizing: border-box;
    padding: 20px;
}

.blue-square {
    background-color: rgb(78, 78, 220);
    width: 75px;
    height: 75px;
}

article {
    padding: 50px;
    font-size: 25px;

}

.stripe {
    height: 25vh;
}

.blue-box {
    background-color: rgb(78, 78, 220);
}
.blue-green-box {
    background-color: rgb(99, 187, 166);
}
.green-yellow-box {
    background-color: yellowgreen;
}
.yellow-box {
    background-color: yellow;
}

.question-box {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.question-box button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 43px;
    font-weight: bold;
}


